* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(257, 40%, 49%);
  font-family: "Open Sans", sans-serif;
}

.page-wrapper {
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  padding: 2.3rem 10%;

  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

img#logo {
  width: 40%;
  margin-bottom: 18%;
}

img#illustration {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 376px) {
  .page-wrapper {
    background-image: url("images/bg-desktop.svg");
  }
}

@media screen and (min-width: 700px) {
  .page-wrapper {
    flex-direction: row;
  }

  header {
    width: 60%;
  }

  main {
    padding-left: 10%;
    align-self: center;
    width: 40%;
  }

  /* img#logo,
  img#illustration {
    width: auto;
  } */
}

@media screen and (min-width: 1440px) {
  .page-wrapper {
    width: 1440px;
    margin: 0 auto;
  }
}
